<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto ">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" routerLink='/products-list'> <img src="assets/images/angular.png" alt="icon"
            class="img rounded"></a>
        <h1 class="navbar-brand text-center">Products</h1>
        <a class="btn btn-success btn-sm right" routerLink='/product-add'> <i class="fa fa-plus"></i> Add New
          product</a>
        <!-- <a class="btn btn-success btn-sm" routerLink='/employee-create'> <i class="fa fa-plus"></i> Add New product</a> -->
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>