    <div class="row">
      <div class="col-md-8 mt-2 mx-auto">
        <div class="card">
          <div class="card-header ">Add Product</div>
          <div class="card-body">
            <form *ngIf = "productsForm" [formGroup]="productsForm" (ngSubmit)="onSubmit()" class="mt-2">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
              
              <div *ngIf="f.name.touched && f.name.invalid" class="text-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
                <div *ngIf="f.name.errors.minlength">Name should have atleast 3 characters.</div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
              </div>
              <div *ngIf="f.description.touched && f.description.invalid" class="text-danger">
                <div *ngIf="f.description.errors.required">Description is required.</div>
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input numeric decimals="4" type="number" class="form-control" id="price" formControlName="price" >
              </div>
              <div *ngIf="f.price.touched && f.price.invalid" class="text-danger">
                <div *ngIf="f.price.errors.required">Price is required.</div>
                <div *ngIf="f.price.errors.pattern">Enter Valid Price.</div>
              </div>
              <div class="form-group">
                <label for="image">Image</label><br>
                <input formControlName="image" id="image" type="file" 
                  (change)="onFileChange($event)">
                <div *ngIf="f.image.touched && f.image.invalid" class="text-danger">
                  <div *ngIf="f.image.errors.required">File is required.</div>
                </div>
              </div>
              <div class="form-group">
                <img [src] ="imageSrc" *ngIf = "imageSrc" style="width: 100px; height: 100px;">
              </div>
              
              <div class="form-group" >
                <label>Display in List</label><br>
                <label for="display" class="mr-3" *ngFor ="let list of display">
                  <input
                    type="radio"
                    formControlName="display"
                    [value]="list" checked>
                    {{ list}}
                  </label>
              </div>
              <div class="form-group">
                <label for="status">Product Status</label>
                <select id="status" class="form-control"s
                formControlName="status">
                  <option *ngFor = "let Status of status"
                   [value]="Status">{{ Status }}</option>
                </select>
              </div>
              <div *ngFor="let color of Colors; ">
                <label>
                  <input type="checkbox" [value] = "color.id" (change)="onCheckboxChange($event)"/>
                  {{color.name}}
                </label>
              </div>
              <div formArrayName ="images">
                <label for="images">Images</label>
                <div class="row mb-2" *ngFor = "let imageurl of controls; let i = index" [formGroupName]="i"> 
                  <div class="col-md-11">
                  <input type="text" formControlName ="url" class="form-control mb-2"></div>
                  <div class="col-md-1">
                    <button 
                    type="button" 
                    class="btn btn-danger"
                    (click)="onDeleteImage(i)">X</button>
                </div>
                </div>
              </div>
              <button type="button" class="btn btn-secondary mr-2" (click)="onAddImages()">Add Images</button>
              <button type="submit" class="btn btn-success mr-2" [disabled]="!productsForm.valid">Save</button>
              <button class="btn btn-primary mr-2" type="button" (click)="onCancel()">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>